<p id="notice"><%= notice %></p>

<h3>Enter new url to shorten -> </h3>

<%= render 'create_short_link', url: @url %>

<br>

<!-- <h3>Resolve short link to fetch the original -> </h3>

<%= render 'resolve_short_link', url: @url %> -->